/* @import url('../../components/root.css');
@import url('../../components/list/list.css');
@import url('../../components/toast/toast.css'); */

@import url('../../components/framer.css');

.navbar{
    padding:1rem;
    background: white;
    color: rgb(22, 21, 21);
}

.navbar-primary{
    background: var(--col-primary);
}
.navbar-danger{
    background: var(--col-danger);
}

.navbar-dark{
    background: var(--col-dark);
}

.navbar-white-text{
    color: var(--text-col-white);
}

.navbar-dark-text{
    color: var(--col-dark);
}

.navbar-icons{
    padding: 0.5rem;
    font-size: 1.3rem !important;
    cursor: pointer;
}

.nav-text{
     font-weight: 500;
     font-size: 1rem;
     cursor: pointer;
}


.nav-text:hover{
    font-weight: 600;
}

.navbar-fixed{
    position: sticky;
    top: 0;
}