
@import url('../../components/framer.css');


.list-bg{
    background-color: var(--text-col-white);
    border-radius: 5.008px;
}

.text-deocration-none{
    text-decoration: none;
}
.list-style-none{
    list-style: none;
}

.list-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list-square{
    list-style-type: square;
    margin-bottom: 0.75rem;
}

.list-circle{
    list-style-type: circle;
    margin-bottom: 0.75rem;

}

.list-disc{
    list-style-type: disc;
    margin-bottom: 0.75rem;

}


/*for ordered list*/

.list-number{
    list-style-type:decimal;
}

.list-lower-lphabet{
    list-style-type: lower-alpha;
}

.list-capital-alphabet{
    list-style-type:upper-alpha;
}

.list-lower-roman{
    list-style-type: lower-roman;
}

/* Image section of notification*/

.notification-container{
    padding: 1rem 8px ;
    background-color: var(--text-col-white);
}
.notification-img{
    width: 9.375rem;
    height: 100%;
    border-radius: 5.008px;
}

