
@import url('../../components/framer.css');


@import url('https://relaxed-joliot-b09c31.netlify.app/components/framer.css');

:root{
  --txt-col-white:#fff;
  --icon-nav-menu:#999a9b;
  --sidebar-txt-col:#f9fafb;
  --selected-txt-bg:#636364;
  --nav-bg-col:#2c2929;
  --logo-col:rgb(17, 17, 17);
}


.nav-dark{
   background: var(--col-dark);
}
 
.z-index-max{
   z-index: 9999;
}

.icon-nav-menu{
   border-radius: 50%;
   padding: 5px;
   color: var(--txt-col-white);
   cursor: pointer;
}

.icon-nav-menu:hover{
   background: var(--icon-nav-menu);
   transition: background 0.4s ease-in-out;
}

.sidebar-menu{
   display: block;
   position: fixed;
   height: 100vh;
   background-color: #333333;
   width: 1px;
   top:0;  
   z-index: 1111;  
   overflow-y: auto;
}

.sidebar-text{
   font-size: 1.2rem;
   color: var(--sidebar-txt-col);
}
.sidebar-text:hover{
   color: var(--sidebar-txt-col);
}
.selected-text{
   padding: 10px 0px 10px 1.25rem;
   color: red;
}
.selected-text:hover{
   background: var(--selected-txt-bg);
}

.selected-text:focus{
   background: var(--selected-txt-bg);
}

.sidebar-menu-width{
   width: 18.75rem;
}

.slider-content-section{
   height: 85vh;
   overflow-y: auto;
    scroll-behavior: smooth;
}

.slider-content-section::-webkit-scrollbar{
   width: 10px;
}



.nav{
   position:sticky ;
   top: 0;
   margin: 0;
}

.nav-logo{
   padding: 1.25rem;
   background-color: var(--nav-bg-col) ;
}

.logo-color{
   color: var(--logo-col);
}

 .sidebar-logo{
   display: flex;
}

 .logo-text{
   padding-left: 1rem;
   color: var(--txt-col-white);
   font-size: 1.5rem;
   font-weight: 600;
}

.avatar-user-icon {
   height: 2rem;
}